.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
ui/**
types/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/*.gif
media/*.mp4
# Exclude all PNGs
media/*.png
# **/*.png
# Include only these
!media/logo.png
!media/icon-light.png
!media/icon-dark.png
