.colorContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 330px;
  overflow-y: scroll;
  padding: 0 3px;
  padding-bottom: 25px;
  /* justify-content: space-evenly; */
}
.colorContainer section {
  flex-grow: 1;
  width: 12%;
  flex-grow: 0;
}
.colorContainer section button {
  height: 20px;
  width: -webkit-fill-available;
  min-width: 50%;
}

.colorBtn.checked {
  border: 1px solid var(--vscode-focusBorder);
  box-shadow: 3px 3px 1px 0px var(--vscode-terminal-ansiGreen);
}
.headerCompare {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.compare {
  display: flex;
  border: solid 1px var(--vscode-focusBorder);
}
.compare div {
  display: flex;
  width: 50px;
  height: 1.3em;
}
