/* accordion styles */
/* Accordion container */
.accordion {
  margin: 10px 0;
  border: 1px solid var(--vscode-focusBorder);
  border-radius: 3px;
  overflow: hidden;
}

/* Accordion header */
.accordion-header {
  background-color: var(--vscode-editor-background);
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add monospaced font-family for text */
.accordion-header span {
  font-size: 0.6em;
  font-family: monospace;
}

/* Accordion content */
.accordion-content {
  display: none;
  padding: 10px;
  background-color: var(--vscode-editor-background);
  border-top: 1px solid var(--vscode-focusBorder);
}

.type-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.type-container:not(:first-child) {
  margin-top: 10px;
}
.type-container a {
  font-size: 0.6em;
  color: var(--vscode-foreground);
}
/* Show content when active */
.accordion-content.active {
  display: block;
}

.accordion-content ul li {
  font-family: monospace;
  font-size: 0.7em;
}

.color-container,
.btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  column-gap: 10px;
}

.color-container input[type="color"] {
  width: 80px;
  height: 35px;
  flex: 1;
  margin-right: 5px;
}

/* tootip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 10%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
