/* custom styles*/
.container-div {
  display: flex;
  margin: 10px 0;
}
.color-div {
  display: inline-block;
  width: 80px;
}
.color-div input {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none;
}

/* Color preview */
.color-preview {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--vscode-focusBorder);
}

.badge {
  background-color: var(--vscode-focusBorder);
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}
