/* custom styles*/
.container-div {
  display: flex;
  margin: 10px 0;
}
.color-div {
  display: inline-block;
  width: 80px;
}
.color-div input {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none;
}
