html {
  box-sizing: border-box;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
.container-div {
  display: flex;
  margin: 10px 0;
}
.color-div {
  display: inline-block;
  width: 80px;
}
.color-div input {
  display: inline-block;
  height: 50px;
  border: none;
  outline: none;
}

/* Accordion container */
.accordion {
  margin: 10px 0;
  border: 1px solid var(--vscode-foreground);
  border-radius: 5px;
  overflow: hidden;
}

/* Accordion header */
.accordion-header {
  background-color: var(--vscode-editor-background);
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Accordion content */
.accordion-content {
  display: none;
  padding: 10px;
  background-color: var(--vscode-editor-background);
  border-top: 1px solid var(--vscode-foreground);
}

/* Show content when active */
.accordion-content.active {
  display: block;
}

/* Color preview */
.color-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--vscode-focusBorder);
}
