.headline {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.code {
  display: block;
  overflow-y: scroll;
  max-height: 150px;
  height: 150px;
  width: auto;
  font-size: 0.8em;
  margin-top: 20px;
  padding: 0;
  text-align: left;
}
.pre {
  position: relative;
}
.pre button {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5px;
  padding-top: 2px;
}
.copied {
  color: var(--vscode-terminal-ansiGreen);
}
/* .gear {
  display: none;
}
.icons {
  display: initial;
}
@media (max-width: 320px) {
  .icons {
    display: none;
  }
  .gear {
    display: initial;
  }
} */
