.typeContainer {
  margin-bottom: 10px;
  padding: 0 3px;
}
.typeContainer .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.typeContainer a {
  font-size: 0.8em;
  color: var(--vscode-foreground);
  margin-right: 7px;
}
.typeContainer li {
  font-size: 0.8em;
  overflow-x: hidden;
}
