.eyeDropperWrapper {
  display: inline-flex;
  align-items: center;
  gap: 12;
  cursor: pointer;
}
.colorCircle {
  border-radius: 50%;
  background: normalizeHex(current);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
.eyeInput {
  position: absolute;
  left: -20px;
  padding: 0 !important;
  display: inline-block !important;
  width: 0 !important;
  height: 0;
  opacity: 0;
}
