.content {
  border: 1px solid var(--vscode-focusBorder);
  /* border-top: none; */
  padding: 10px 0;
}

.typesContainer {
  margin: 0 5px;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px groove var(--vscode-focusBorder);
}

/* .colorContainer {
  margin: 0 10px;
} */

.colorContainer,
.btnContainer {
  margin: 0 10px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  column-gap: 10px;
}

.colorContainer input[type="color"] {
  width: 80px;
  height: 35px;
  flex: 1;
  margin-right: 5px;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}
.colorLabel {
  display: block;
  margin: 0 10px;
  font-size: 1em;
  margin-bottom: 5px;
  /* font-size: 0.85em; */
  /* text-align: center; */
}
.colorValue {
  font-family: monospace;
  text-transform: uppercase;
}
.brightness {
  display: flex;
  flex-direction: row;
  border: solid var(--vscode-focusBorder) 0.4px;
  border-radius: 2px;
  padding: 2px 4px;
}
.brightness div button i {
  font-size: 10px !important;
  padding: 0 2px !important;
  color: greenyellow;
}

@media (max-width: 320px) {
  .colorContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .colorContainer input[type="color"] {
    flex-basis: 100%;
  }
}
