.content {
  border: 1px solid var(--vscode-focusBorder);
  border-top: none;
  padding: 10px 0;
}

.color-container,
.btn-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  column-gap: 10px;
}

.color-container input[type="color"] {
  width: 80px;
  height: 35px;
  flex: 1;
  margin-right: 5px;
}
